<!DOCTYPE html>
<html lang="en" data-theme="retro" class="bg-secondary">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinker</title>

    <link href="../css/style.css" rel="stylesheet">
</head>
<body class="bg-secondary">
<div class="hero min-h-screen">
    <div class="hero-content w-screen">
        <div class="mockup-browser w-1/2 border-2 border-base-content shadow-[7px_7px_rgba(0,0,0,1)] bg-base-100">
            <div class="mockup-browser-toolbar relative h-5">
                <div class="w-full text-center absolute">Зайти в бота</div>
            </div>
            <div class="flex flex-col items-center space-y-5 justify-evenly px-8 py-8 border-t-2 border-t-base-content">
                <div class="text-2xl font-extrabold">👋 Добро пожаловать</div>
                <a href="oauth2/authorization/twitch"><button class="btn btn-info">Зайти через Twitch</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
